@using TravelAndTourismWebsite.Models
@model CityPreviewViewModel
@using TravelAndTourismWebsite.Resources
@using TravelAndTourismWebsite.WebsiteLanguages


@if (Model.Flights.Count == 0)
{
    <h3 class="text-center alert alert-danger">
        @Resource.NoRecordsFound
    </h3>
}
else
{

    <div class="table-responsive">
        <table class="table customTable1">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.Flights.First().SourceCity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Flights.First().DestinationCity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Flights.First().Airline)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Flights.First().Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Flights.First().Time)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Flights.First().FlightDuration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Flights.First().EcoSeatsCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Flights.First().FrstSeatsCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Flights.First().EconomyTicketPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Flights.First().FirstClassTicketPrice)
                    </th>
                    <th>
                        @Resource.Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Flight f in Model.Flights)
                {
                    <tr>
                        <td>
                            @switch (SiteLanguages.GetCurrentLanguageCulture())
                            {
                                case "en-us":
                                    @f.SourceCity.Name_En
                                    break;
                                case "ar-SA":
                                    @f.SourceCity.Name_Ar
                                    break;
                                default:
                                    @f.SourceCity.Name_En
                                    break;
                            }
                            
                        </td>
                        <td>
                            @switch (SiteLanguages.GetCurrentLanguageCulture())
                            {
                                case "en-us":
                                    @f.DestinationCity.Name_En
                                    break;
                                case "ar-SA":
                                    @f.DestinationCity.Name_Ar
                                    break;
                                default:
                                    @f.DestinationCity.Name_En
                                    break;
                            }
                        </td>
                        <td>
                            @f.Airline
                        </td>
                        <td>
                           @f.DisplayDate
                        </td>
                        <td>
                            @f.Time
                        </td>
                        <td>
                            @f.FlightDuration
                        </td>
                        <td>
                            @f.EcoSeatsCount
                        </td>
                        <td>
                            @f.FrstSeatsCount
                        </td>
                        <td>
                            @f.EconomyTicketPrice $
                        </td>
                        <td>
                            @f.FirstClassTicketPrice $
                        </td>
                        <td>
                            @if(User.Identity.IsAuthenticated)
                            { 
                            <a href="@Url.Action("BookFlight", "Flight", new { id = f.ID })" class="btn btn-sm btn-success">
                                <span class="glyphicon glyphicon-check"></span>
                                @Resource.Book
                            </a>
                            }
                            else { 
                            <a href="#" data-toggle="modal" data-target="#loginModal" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-log-in"></span>
                                @Resource.Login
                            </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}