@model TravelAndTourismWebsite.Models.RegisterViewModel
@using TravelAndTourismWebsite.Resources
@using TravelAndTourismWebsite.WebsiteLanguages
@{
    ViewBag.Title = Resource.AddAdminUser;
}

<div class="row">
    <div class="col-lg-12">
        <div class="header-wrapper">
            <img src="~/Images/users22.jpg" class="header-image" />
            <div class="header-contents">
                <h2>
                    <span class="glyphicon glyphicon-plus"></span>
                    @Resource.AddAdminUser
                </h2>
            </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-lg-12">

        @using (Html.BeginForm("AddNewUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            
            <h3>
                <span class="glyphicon glyphicon-user"></span>
                @Resource.CreateNewAccount .
            </h3>
            <hr />
            <h3 class="@ViewBag.Alert text-center">
                @ViewBag.Message
            </h3>
            <p>
                <span class="glyphicon glyphicon-list-alt"></span>
                @Resource.RegisterMsg
            </p>
            <br />

            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = Resource.FirstNamePlaceHolder })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = Resource.LastNamePlaceHolder })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <label class="radio-inline">
                        <input type="radio" name="Gender" value="Male">
                        &nbsp;&nbsp;&nbsp; @Resource.Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="Gender" value="Female">
                        &nbsp;&nbsp;&nbsp; @Resource.Female
                    </label>
                    <br />
                    @Html.ValidationMessageFor(m => m.Gender)
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Resource.EmailPlaceHolder })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = Resource.PhNumberPlaceHolder })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownList("Country", null, Resource.CountryPlaceHolder, new { @class = "form-control dropDownList" })
                    @Html.ValidationMessageFor(m => m.Country)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <select id="city" name="City" class="form-control"></select>
                    @Html.ValidationMessageFor(m => m.City)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = Resource.UsernamePlaceHolder })
                    @Html.ValidationMessageFor(m => m.UserName)

                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Resource.PasswordPlaceHolder })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Resource.ConfirmPasswordPlaceHolder })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="reset" class="btn btn-default" value="@Resource.Reset" onclick="return confirm('@Resource.AreYouSureYouWantTo @Resource.ResetFields ?');" />
                    <input type="submit" class="btn btn-default" value="@Resource.RegisterBtn" />
                </div>
            </div>




        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script src="~/Scripts/jquery.validate-vsdoc.js"></script>