@model TravelAndTourismWebsite.Models.Message
@using TravelAndTourismWebsite.Resources
@{
    ViewBag.Title = Resource.ViewMessage;
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header-wrapper">
            <img src="~/Images/msg2.jpg" class="header-image" />
            <div class="header-contents">
                <h2>
                    <span class="glyphicon glyphicon-envelope"></span>
                    @Resource.Message
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <h4 class="text-info">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    @Resource.MessageDetails
                </h4>
            </div>
            <div class="panel-body">
                <p>
                    @Html.DisplayNameFor(m => m.Email) : @Model.Email
                </p>
                <p>
                    @Html.DisplayNameFor(m => m.DisplayDate_Time) : @Model.DisplayDate_Time
                </p>
                <p>
                    @Html.DisplayNameFor(m => m.Subject) : @Model.Subject
                </p>
                <p>
                    <a href="@Url.Action("MessageReply", "Admin", new { Email = Model.Email, Subject = "RE: "+ Model.Subject })" class="btn btn-primary btn-block" >
                        <span class="glyphicon glyphicon-share-alt"></span>
                        @Resource.Reply
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading text-center">
                <h4 class="text-success">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    @Resource.MessageText
                </h4>
            </div>
            <div class="panel-body">
                <textarea class="messageTextArea" readonly="readonly" style="text-align:justify">
                    @Model.Text
                </textarea>
            </div>
        </div>
    </div>

</div>
