@using TravelAndTourismWebsite.Models;
@using Microsoft.AspNet.Identity;
@using TravelAndTourismWebsite.Resources
@{
    ViewBag.Title = Resource.ChangePassword;
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header-wrapper">
            <img src="~/Images/acMng2.jpg" class="header-image" />
            <div class="header-contents">
                <h2>
                    <span class="glyphicon glyphicon-user"></span>
                    @Resource.ChangePassword
                </h2>
            </div>
        </div>
    </div>
</div>


<h4 class="@ViewBag.Alert alert-success text-center"> @ViewBag.StatusMessage</h4>
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
